.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}
.navbar .nav-item .nav-link{
   color: #fff;
}
.main-header{                                       /*   cambiamos el fondo del header por medio de url subiendo de la carpeta hacia la img */
    position: relative;
    background: url(../img/fondo.jpg); 
    background-size: cover;
    min-height: 600px;
}
.background-overlay{                              /*Usamos un background de color con rgba para cambiar la intensidad y poder hacer un overlay al fondo de la */
    position: absolute;
    background: rgba(27, 20, 100,.3); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;                        
}
.form-control-lg, .btn{
    border-radius: 0;
}
.team{
    background: #1B1464;
}